body {
   padding-top:50px;
   margin-bottom:30px;
}

.mynav {
   margin-left:auto;
   margin-right:auto;
}

.jumbotron {
   background-image:url('wall_of_code.png');
   background-attachment:fixed;
   background-position:top right;
   height:500px;
}

.jumbotron h1, p {
   color:white;
}

/*.navbar .nav > li > a {
   padding: 10px 15px;
}*/

#welcome {
   margin-top:-15px;
}

.row p {
   color:grey;
}

#about_picture {
   border-radius:5px;
   max-width:300px;
   float:left;
}

#about_text {
   text-align:right;
   float:right;
}

.pull-center {
   text-align:center;
}

.spacer {
   height:50px;
}

.snippet {
   color:grey;
}

.snippet img {
   max-width:300px;
}
