.hero-unit {
   background-image:url('wallOfCode.png');
   background-attachment:fixed;
   background-position:top right;
   height:350px;
}

.hero-unit h1, p {
   color:white;
}

.navbar .nav > li > a {
   padding: 10px 15px;
}

.navbar-wrapper {
   margin-top:20px;
   margin-bottom:-90px;
   z-index:2;
}

.navbar-inner li {
   /*border-left:1px solid cyan;*/
   font-size:1.2em;
   border-bottom:1px solid cyan;
}

.navbar-inner .brand {
   border-left:1px solid cyan;
   border-right:1px solid cyan;
}

#welcome {
   height:350px;
   margin-top:50px;
}

.row .span4 p {
   color:grey;
}

#about_picture {
   height:300px;
   width:400px;
   border-radius:20px;
}

.pull-center {
   text-align:center;
}

.spacer {
   height:200px;
}

.navbar span {
   color:cyan;
   font-size:1.4em;
}

.snippet {
   color:grey;
}
