/* Stylesheet for blog.php */

body {
   background:#f0efe7;
}

header {
   margin-top:-10px;
   width:100%;
   height: 225px;
   background-image:url('../wall_of_code.png');
   background-attachment:fixed;
}

header > h1 {
   padding-top:100px;
   padding-left:10px;
   font-size:5em;
   text-align:center;
   color:white;
}

.post {
   padding:20px;
   max-width:700px;
   background:white;
   border-radius:5px;
}

.post p {
   font-size: 16px;
   margin-bottom:18px;
   font-weight:300;
   line-height:27px;
}

#info_pane {
   padding:10px 20px;
   max-width:200px;
   background:white;
   border-radius:5px;
}
