/* Stylesheet for blog.php */

@media screen and (max-device-width: 768px) {
   #info-pane {
      display:hidden !important;
   }
}

body {
   background:#f0efe7;
}

header {
   margin-top: -20px;
   width:100%;
   height: 225px;
   background-image:url('../wall_of_code.png');
   background-attachment:fixed;
}

header h1 {
   padding-top:80px;
   padding-left:10px;
   font-size:5em;
   text-align:center;
   color:white;
}

header h2 {
   padding-top:110px;
   color:white;
}

.post {
   padding:20px;
   max-width:700px;
   background:white;
   border-radius:5px;
   margin: 0 auto;
}

.post p {
   font-size: 16px;
   margin-bottom:18px;
   font-weight:300;
   line-height:27px;
}

#info_pane {
   position: -webkit-sticky;
   padding:10px 20px;
   max-width:200px;
   background:white;
   border-radius:5px;
   margin-right:40px;
   margin-left:-20px;
}

#moarPosts {
   text-align:center;
   cursor:pointer;
}

#lastPostMade {
   display:none;
}

#minPost {
   display:none;
}
